
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking Website - Login</title>

</head>
<body bgcolor="aqua">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Submit</button>
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>

   {% for msg in messages %}
        {{msg}}
   {% endfor %}
</body>
</html>
